body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("gradient3.jpg");
  background-size: cover;        /* supaya full layar */
  background-position: center;   /* supaya posisi tengah */
  background-repeat: no-repeat;  /* tidak diulang */
  background-attachment: fixed;  /* tidak ikut scroll */
}



.todo-wrapper {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-weight: 250;
    width: 90%;
    margin: 60px auto;
    max-width: 600px;
}

.todo-wrapper h2 {
    margin:0;
}

.todo-wrapper p {
    font-style: italic;
    color: gray;
    margin-top: 5px;
}

.todo-wrapper ol {
    margin-top: 6px;
    padding-left: 20px;
}

.todo-wrapper ol li {
    margin: 5px 0;
    padding: 6px 10px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

}

.todo-wrapper ol li:nth-child(even) {
    background: #ddd;
}

.todo-wrapper form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-wrapper input {
    flex: 1;
}


.todo-wrapper .pretty-button{
    background-color: #17638f;
    margin: 10px 2px;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    font-size: small;
}

.todo-wrapper .pretty-button:hover {
    cursor: pointer;
    opacity: 0.75;
}

#control-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.todo-wrapper #clear-button {
    background-color: #49B749;
}

.todo-wrapper #empty-button {
    background-color: #9B1C20;
}

.todo-wrapper #save-button {
    background-color: #49B749;
}

@media only screen and (min-width: 1400px) {
    .todo-wrapper {
        width: 50%;
    }

    .todo-wrapper input {
        width: 600px;
    }
    
}

@media only screen and (max-width: 1399px) and (min-width: 750px) {
    .todo-wrapper {
        width: 75%;
    }

    .todo-wrapper input {
        width: 400px;
    }
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

